<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title} ?: 'Products'">Products</title>
    <link rel="stylesheet" th:href="@{/wwwroot/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<section layout:fragment="content">
    <h1>Products List</h1>
    <div>
        <a th:href="@{/products/add}" class="btn btn-primary mb-3">Add New
            Product</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Category Name</th>
            <th>Add to cart</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td>aaa</td>
            <td th:text="${product.category.name}"></td>

            <td th:if="${product.img1 != null}">
                <img th:src="@{${product.thumnail}}" alt="Product Image" style="max-width: 100px; max-height: 100px;">
            </td>
            <td>
                <form th:action="@{/products/add-to-cart}" method="post"
                      class="d-inline">
                    <input type="hidden" name="id" th:value="${product.id}">
                    <input type="hidden" name="name"
                           th:value="${product.name}">
                    <input type="hidden" name="price"
                           th:value="${product.price}">
                    <button type="submit" class="btn btn-success"
                            onclick="return confirm('Are you sure you want to add this book to cart?')">
                        Add to cart</button>
                </form>
            </td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-success btn-sm">Edit</a>
                <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>